body {
    margin: 0px;
}
.container {
    position: relative;
    height: 300px;
    width: 300px;
    background-color: grey;
}
.red {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 20px;
}
.blue {
    background-color: blue; 
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 100px;
}
.yellow {
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 0;
}

